

.spid-idp-button .spid-idp-button-menu li > a img {
    height: 45px!important;
}

input:focus, textarea:focus, select:focus{
    outline: none!important;
}

.logo-galliera-href {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.logo-galliera-href:hover {
    text-decoration: none;
    color: black;
}
.no-focusborder:focus, .no-focusborder:focus-visible{
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.logo-galliera {
    max-width: 230px;
}

.error-data {
    font-size: 25px;
    padding-bottom: 20px;
    width: 50vw;
}